* {
    font-family: 'Arial', sans-serif;
    color: #000;
    font-size: 16px;
    margin: 0;
}

body {
    height: 100%;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-flex;
    align-items: center;
    height: 100%;
    cursor: pointer;
}

button, input[type='submit'] {
    cursor: pointer;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

header {
    width: 100%;
}

.upper-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    height: 44px;
}

.logo {
    color: #0094FF;
    font-size: 36px;
    font-weight: 600;
}

.search-form {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    background: #EEEEEE;
    border-radius: 50px;
    padding: 0 12px;
}

form[class='bottom-wrapper'] {
    background: #fff;
}

form[class='grey'] {
    background-color: transparent;
}

form[class='white'] {
    background-color: transparent;
    padding-top: 10px;
}

input[type='search'] {
    height: 100%;
    width: 200px;
    outline: 0;
    border: 0;
    background: rgba(0,0,0,0);
    flex-grow: 1;
}

.search {
    background-image: url(../img/search.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 20px;
    width: 20px;
    border: 0;
    background-color: rgba(0,0,0,0);
    padding: 0;
}

button {
    border-radius: 50px;
    border: 0;
    background: #0094FF;
    color: #fff;
    transition: 0.1s;
}

input[type="submit"][class="to_cart"] {
    border-radius: 50px;
    border: 0;
    background: #0094FF;
    color: #fff;
    transition: 0.1s;
    padding: 6px 8px;
    font-size: 12px;
}

input[type="submit"][class="to_cart"]:hover {
    background: #0086e6;
}

button:hover {
    background: #0086e6;
}

.help {
    height: 100%;
    width: 80px;
}

.to-cart, .sign-in {
    padding: 0 8px;
    border-radius: 5px;
    transition: 0.1s;
    position: relative;
}

.to-cart:hover, .sign-in:hover {
    background: rgba(0, 0, 0, 0.06);
}

.cart, .person {
    width: 25px;
    height: 25px;
    margin-right: 6px;
}

.products-in-cart {
    background-color: #0094FF;
    color: #fff;
    width: 15px;
    height: 15px;
    font-size: 15px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    left: 23px;
    top: 5px;
    font-family: Calibri, sans-serif;
}

a > div {
    display: flex;
    flex-direction: column;
}

.balance {
    color: #0094FF;
    font-size: 12px;
}

nav {
    height: 80px;
    display: flex;
    align-items: center;
}

ul {
    margin: 0;
    padding: 0;
    height: 70%;
}

li {
    display: block;
    color: rgba(0, 0, 0, 0.7);
    margin-right: 50px;
    transition: 0.1s;
}

li:not(.active):hover {
    color: #000;
}

.active {
    color: #0094FF;
    position: relative;
}

.active::before {
    position: absolute;
    height: 5px;
    width: 50px;
    border-radius: 2px;
    background-color: #0094FF;
    content: "";
    top: 37px;
}

.grey-body {
    width: 100%;
    height: 294px;
    background-color: #EBF3F5;
    position: absolute;
    z-index: -999;
}

article {
    margin-top: 66px;
}

.offer {
    margin-bottom: 72px;
}

section {
    display: flex;
    justify-content: space-between;
}

h2 {
    font-size: 26px;
    color: rgba(0, 0, 0, 0.5);
}

h2::after {
    content: '>';
    margin-left: 20px;
}

.product {
    margin-top: 34px;
    width: 196px;
    height: 300px;
    border-radius: 10px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s;
}

.product:hover {
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.211);
}

.wrapper {
    height: 95%;
    width: 90%;
}

.photo {
    border-radius: 10px;
    width: 100%;
    height: 70%;
    object-fit: cover;
    filter: brightness(0.97);
}

h3 {
    font-size: 16px;
    font-weight: normal;
    margin-top: 15px;
}

span {
    font-size: 11px;
    color: #8D8D8D;
}

.bottom-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}

.cost {
    font-size: 16px;
    color: #000;
}

.buy {
    padding: 6px 8px;
    font-size: 12px;
}

.grey-line {
    height: 48px;
    background: #EEEEEE;
}

footer {
    height: 197px;
    display: flex;
    align-items: center;
}

footer .container {
    display: flex;
    align-items: center;
}

.logo-footer {
    display: block;
    margin-right: 54px;
}

.nav-footer li {
    display: block;
}

.nav-footer li:not(.nav-footer li:last-child) {
    margin-bottom: 10px;
}

.auth-wrapper {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.auth {
    width: 400px;
    border-radius: 3px;
    overflow: hidden;
}

.top {
    width: 100%;
    height: 60px;
    background-color: #eee;
    padding: 0 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main {
    width: 100%;
    height: 200px;
    background: #fff;
    padding: 0 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.cross {
    width: 20px;
    height: 20px;
    background-size: contain !important;
    cursor: pointer;
}

.auth-form {
    display: flex;
    flex-direction: column;
}

.auth-form > input {
    height: 40px;
    border-radius: 5px;
    font-size: 14px;
    outline: 0;
}

.login {
    padding: 0 10px;
    border: 1px solid rgb(162, 162, 162);
}

#last {
    margin-top: 10px;
}

.login:focus-visible {
    border: 1px solid rgb(0, 0, 0);
}

.to-auth {
    border: 0;
    background-color: #0094FF;
    color: #fff;
    margin-top: 20px;
    transition: 0.1s;
}

.to-auth:hover {
    background: #0086e6;
}